/*
 * Table styles
 */
table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
  background-color: #009fda;
    color: #000000;
  /*
   * Header and footer styles
   */
  /*
   * Body styles
   */ 
}


/*
 * Maybe more definitions later, but at the moment, not possible.
*/

/*
 * Mixed styles
 */

h3 {
  color: #009fda;
} 